In [1]:
import pandas as pd

In [2]:
# bike sales data exploring using pandas library

In [3]:
bike_df=pd.read_excel(r'C:\Users\user\Downloads\projects.xlsx')

In [4]:
bike_df

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost
0,2013-11-26,19.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0
1,2015-11-26,19.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0
2,2014-03-23,49.0,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23.0,45.0,120.0,1366.0,1035.0
3,2016-03-23,49.0,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20.0,45.0,120.0,1188.0,900.0
4,2014-05-15,47.0,F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4.0,45.0,120.0,238.0,180.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
108369,2016-03-04,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,15.0,1.0,2.0,10.0,15.0
108370,2014-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,13.0,1.0,2.0,8.0,13.0
108371,2014-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,5.0,1.0,2.0,3.0,5.0
108372,2016-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,15.0,1.0,2.0,10.0,15.0
108373,2016-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,5.0,1.0,2.0,3.0,5.0

In [ ]:
#looking at some pandas methods and fuctions

In [5]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108374 entries, 0 to 108373
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              62322 non-null  datetime64[ns]
 1   Customer_Age      62322 non-null  float64
 2   Customer_Gender   62322 non-null  object
 3   Country           62322 non-null  object
 4   State             62322 non-null  object
 5   Product_Category  62322 non-null  object
 6   Sub_Category      62322 non-null  object
 7   Product           62322 non-null  object
 8   Order_Quantity    62322 non-null  float64
 9   Unit_Cost         62322 non-null  float64
 10  Unit_Price        62322 non-null  float64
 11  Profit            62322 non-null  float64
 12  Cost              62322 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(6)
memory usage: 10.7+ MB

In [6]:
bike_df.describe()

,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost
count,62322.000000,62322.000000,62322.000000,62322.000000,62322.000000,62322.000000
mean,35.989089,15.079811,5.070088,12.822149,89.205401,70.041847
std,11.384345,8.726795,7.386322,19.844873,137.577824,94.995468
min,17.000000,1.000000,1.000000,2.000000,-5.000000,1.000000
25%,27.000000,7.000000,2.000000,5.000000,15.000000,16.000000
50%,35.000000,15.000000,2.000000,5.000000,41.000000,34.000000
75%,44.000000,23.000000,7.000000,10.000000,85.000000,80.000000
max,87.000000,32.000000,59.000000,159.000000,2214.000000,1350.000000

In [8]:
bike_df.loc[15]

Date                2015-08-02 00:00:00
Customer_Age                       29.0
Customer_Gender                       M
Country                          Canada
State                  British Columbia
Product_Category            Accessories
Sub_Category                 Bike Racks
Product             Hitch Rack - 4-Bike
Order_Quantity                      7.0
Unit_Cost                          45.0
Unit_Price                        120.0
Profit                            517.0
Cost                              315.0
Name: 15, dtype: object

In [12]:
bike_df['Customer_Age']

0         19.0
1         19.0
2         49.0
3         49.0
4         47.0
          ...
108369    37.0
108370    37.0
108371    37.0
108372    37.0
108373    37.0
Name: Customer_Age, Length: 108374, dtype: float64

In [13]:
bike_df.at[15,'Customer_Age']

29.0

In [14]:
bike_df.head(10)

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost
0,2013-11-26,19.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0
1,2015-11-26,19.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0
2,2014-03-23,49.0,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23.0,45.0,120.0,1366.0,1035.0
3,2016-03-23,49.0,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20.0,45.0,120.0,1188.0,900.0
4,2014-05-15,47.0,F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4.0,45.0,120.0,238.0,180.0
5,2016-05-15,47.0,F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,5.0,45.0,120.0,297.0,225.0
6,2014-05-22,47.0,F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,4.0,45.0,120.0,199.0,180.0
7,2016-05-22,47.0,F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,2.0,45.0,120.0,100.0,90.0
8,2014-02-22,35.0,M,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,22.0,45.0,120.0,1096.0,990.0
9,2016-02-22,35.0,M,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,21.0,45.0,120.0,1046.0,945.0

In [15]:
bike_df.tail(10)

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost
108364,2016-06-07,37.0,M,France,Seine Saint Denis,Accessories,Tires and Tubes,Touring Tire Tube,19.0,2.0,5.0,40.0,38.0
108365,2016-06-07,37.0,M,France,Seine Saint Denis,Accessories,Tires and Tubes,Touring Tire Tube,26.0,2.0,5.0,55.0,52.0
108366,2014-03-04,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,19.0,1.0,2.0,12.0,19.0
108367,2014-03-04,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,17.0,1.0,2.0,11.0,17.0
108368,2016-03-04,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,21.0,1.0,2.0,13.0,21.0
108369,2016-03-04,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,15.0,1.0,2.0,10.0,15.0
108370,2014-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,13.0,1.0,2.0,8.0,13.0
108371,2014-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,5.0,1.0,2.0,3.0,5.0
108372,2016-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,15.0,1.0,2.0,10.0,15.0
108373,2016-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,5.0,1.0,2.0,3.0,5.0

In [16]:
bike_df.sample(10)

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost
21280,2014-02-22,38.0,M,United Kingdom,England,Clothing,Caps,AWC Logo Cap,3.0,7.0,9.0,5.0,21.0
21433,2015-07-26,24.0,M,Australia,Tasmania,Accessories,Cleaners,Bike Wash - Dissolver,15.0,3.0,8.0,52.0,45.0
21311,2015-08-25,37.0,M,Australia,New South Wales,Accessories,Cleaners,Bike Wash - Dissolver,31.0,3.0,8.0,123.0,93.0
79731,2016-02-22,31.0,M,Australia,New South Wales,Accessories,Tires and Tubes,Patch Kit/8 Patches,9.0,1.0,2.0,7.0,9.0
36192,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76935,2016-01-10,38.0,M,United States,Washington,Accessories,Tires and Tubes,Mountain Tire Tube,12.0,2.0,5.0,23.0,24.0
87750,2014-01-22,30.0,M,Australia,New South Wales,Accessories,Tires and Tubes,Road Tire Tube,24.0,1.0,4.0,60.0,24.0
17788,2014-02-24,22.0,M,United States,California,Clothing,Caps,AWC Logo Cap,9.0,7.0,9.0,16.0,63.0
71059,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85975,2016-02-19,19.0,M,United Kingdom,England,Accessories,Tires and Tubes,Touring Tire Tube,3.0,2.0,5.0,8.0,6.0

In [ ]:
#adding new colums,sorting,groupping data

In [17]:
bike_df

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost
0,2013-11-26,19.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0
1,2015-11-26,19.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0
2,2014-03-23,49.0,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23.0,45.0,120.0,1366.0,1035.0
3,2016-03-23,49.0,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20.0,45.0,120.0,1188.0,900.0
4,2014-05-15,47.0,F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4.0,45.0,120.0,238.0,180.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
108369,2016-03-04,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,15.0,1.0,2.0,10.0,15.0
108370,2014-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,13.0,1.0,2.0,8.0,13.0
108371,2014-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,5.0,1.0,2.0,3.0,5.0
108372,2016-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,15.0,1.0,2.0,10.0,15.0
108373,2016-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,5.0,1.0,2.0,3.0,5.0

In [18]:
bike_df['Revenue']=bike_df.Profit+bike_df.Cost

In [19]:
bike_df

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,19.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
1,2015-11-26,19.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
2,2014-03-23,49.0,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23.0,45.0,120.0,1366.0,1035.0,2401.0
3,2016-03-23,49.0,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20.0,45.0,120.0,1188.0,900.0,2088.0
4,2014-05-15,47.0,F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4.0,45.0,120.0,238.0,180.0,418.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108369,2016-03-04,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,15.0,1.0,2.0,10.0,15.0,25.0
108370,2014-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,13.0,1.0,2.0,8.0,13.0,21.0
108371,2014-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,5.0,1.0,2.0,3.0,5.0,8.0
108372,2016-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,15.0,1.0,2.0,10.0,15.0,25.0
108373,2016-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,5.0,1.0,2.0,3.0,5.0,8.0

In [20]:
highest_revenue=bike_df[bike_df.Revenue>2000]

In [22]:
highest_revenue.sort_values('Revenue',ascending=False).head(10)

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
245,2016-01-07,31.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,30.0,45.0,120.0,2214.0,1350.0,3564.0
182,2014-01-17,53.0,F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,30.0,45.0,120.0,2178.0,1350.0,3528.0
90,2014-02-12,46.0,M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,30.0,45.0,120.0,2178.0,1350.0,3528.0
244,2014-01-07,31.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,29.0,45.0,120.0,2140.0,1305.0,3445.0
183,2016-01-17,53.0,F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,29.0,45.0,120.0,2105.0,1305.0,3410.0
95,2015-09-23,41.0,F,Germany,Hessen,Accessories,Bike Racks,Hitch Rack - 4-Bike,29.0,45.0,120.0,1931.0,1305.0,3236.0
327,2016-01-26,35.0,F,United Kingdom,England,Accessories,Bike Racks,Hitch Rack - 4-Bike,28.0,45.0,120.0,1966.0,1260.0,3226.0
339,2016-06-11,45.0,F,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,27.0,45.0,120.0,1993.0,1215.0,3208.0
101,2016-05-11,32.0,M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,27.0,45.0,120.0,1960.0,1215.0,3175.0
91,2016-02-12,46.0,M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,27.0,45.0,120.0,1960.0,1215.0,3175.0

In [ ]:
#1.groupping revenue for country

In [29]:
groupped_df=bike_df.groupby(['Country','Product_Category'])[['Cost','Profit','Revenue']].std()

In [30]:
groupped_df

                                      Cost      Profit     Revenue
Country        Product_Category
Australia      Accessories       96.824486  121.326447  217.776955
               Clothing          61.332817    7.185086   66.501526
Canada         Accessories       96.314711  161.033767  257.210853
               Clothing          60.021845   16.344693   76.363832
France         Accessories       93.152382  120.815583  213.277427
               Clothing          55.830012   11.769708   62.837306
Germany        Accessories       99.833369  141.446256  240.602457
               Clothing          59.446707   13.015484   68.855578
United Kingdom Accessories       92.712885  146.134866  238.670820
               Clothing          61.582596   14.421098   76.001245
United States  Accessories       97.497394  144.567611  240.846410
               Clothing          60.817785   18.236404   73.139462

In [ ]:
#2.groupping Reveneue for gender

In [31]:
Gender_revenue=bike_df.groupby(['Customer_Gender','Country'])[['Cost','Profit','Revenue']].sum()

In [32]:
Gender_revenue

                                    Cost     Profit    Revenue
Customer_Gender Country
F               Australia       424971.0   463156.0   888127.0
                Canada          256860.0   377179.0   634039.0
                France          201513.0   227261.0   428774.0
                Germany         211130.0   256445.0   467575.0
                United Kingdom  247940.0   348293.0   596233.0
                United States   719793.0   932492.0  1652285.0
M               Australia       441850.0   491921.0   933771.0
                Canada          376603.0   583885.0   960488.0
                France          196198.0   216743.0   412941.0
                Germany         216696.0   269571.0   486267.0
                United Kingdom  227849.0   299322.0   527171.0
                United States   843745.0  1093191.0  1936936.0

In [ ]:
#working with dates

In [33]:
bike_df['Date']=pd.to_datetime(bike_df.Date)

In [34]:
bike_df

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,19.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
1,2015-11-26,19.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0
2,2014-03-23,49.0,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23.0,45.0,120.0,1366.0,1035.0,2401.0
3,2016-03-23,49.0,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20.0,45.0,120.0,1188.0,900.0,2088.0
4,2014-05-15,47.0,F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4.0,45.0,120.0,238.0,180.0,418.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108369,2016-03-04,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,15.0,1.0,2.0,10.0,15.0,25.0
108370,2014-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,13.0,1.0,2.0,8.0,13.0,21.0
108371,2014-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,5.0,1.0,2.0,3.0,5.0,8.0
108372,2016-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,15.0,1.0,2.0,10.0,15.0,25.0
108373,2016-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,5.0,1.0,2.0,3.0,5.0,8.0

In [35]:
bike_df['year']=pd.DatetimeIndex(bike_df.Date).year

In [36]:
bike_df['month']=pd.DatetimeIndex(bike_df.Date).month

In [37]:
bike_df['day']=pd.DatetimeIndex(bike_df.Date).day

In [38]:
bike_df['weekday']=pd.DatetimeIndex(bike_df.Date).weekday

In [40]:
bike_df

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,year,month,day,weekday
0,2013-11-26,19.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0,2013.0,11.0,26.0,1.0
1,2015-11-26,19.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0,2015.0,11.0,26.0,3.0
2,2014-03-23,49.0,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23.0,45.0,120.0,1366.0,1035.0,2401.0,2014.0,3.0,23.0,6.0
3,2016-03-23,49.0,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20.0,45.0,120.0,1188.0,900.0,2088.0,2016.0,3.0,23.0,2.0
4,2014-05-15,47.0,F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4.0,45.0,120.0,238.0,180.0,418.0,2014.0,5.0,15.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108369,2016-03-04,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,15.0,1.0,2.0,10.0,15.0,25.0,2016.0,3.0,4.0,4.0
108370,2014-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,13.0,1.0,2.0,8.0,13.0,21.0,2014.0,4.0,27.0,6.0
108371,2014-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,5.0,1.0,2.0,3.0,5.0,8.0,2014.0,4.0,27.0,6.0
108372,2016-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,15.0,1.0,2.0,10.0,15.0,25.0,2016.0,4.0,27.0,2.0
108373,2016-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,5.0,1.0,2.0,3.0,5.0,8.0,2016.0,4.0,27.0,2.0

In [47]:
#4 groupping revenue into years

In [51]:
years_revenue=bike_df.groupby(['year','Country'])[['Cost','Profit','Revenue']].sum()

In [54]:
years_revenue

                           Cost    Profit    Revenue
year   Country
2013.0 Australia       195632.0  216675.0   412307.0
       Canada          142511.0  218785.0   361296.0
       France           90356.0  101943.0   192299.0
       Germany          86749.0  107539.0   194288.0
       United Kingdom  101940.0  138087.0   240027.0
       United States   354221.0  461250.0   815471.0
2014.0 Australia       244540.0  268137.0   512677.0
       Canada          178297.0  267992.0   446289.0
       France          111936.0  123858.0   235794.0
       Germany         130519.0  159579.0   290098.0
       United Kingdom  140144.0  191406.0   331550.0
       United States   440498.0  568989.0  1009487.0
2015.0 Australia       190205.0  210742.0   400947.0
       Canada          139430.0  214098.0   353528.0
       France           87415.0   98661.0   186076.0
       Germany          83888.0  103839.0   187727.0
       United Kingdom   97918.0  132526.0   230444.0
       United States   343245.0  446728.0   789973.0
2016.0 Australia       236444.0  259523.0   495967.0
       Canada          173225.0  260189.0   433414.0
       France          108004.0  119542.0   227546.0
       Germany         126670.0  155059.0   281729.0
       United Kingdom  135787.0  185596.0   321383.0
       United States   425574.0  548716.0   974290.0

In [ ]:
#finding Revenue only in may in 2016 for males in canada and comparising it with United States

In [68]:
may_2016_males_df=bike_df[bike_df.year==2016]

In [76]:
month_df=may_2016_males_df[may_2016_males_df.month==5]

In [79]:
 gender_df=month_df[month_df.Customer_Gender=='M']

In [84]:
canada_df=gender_df[gender_df.Country=='Canada']

In [85]:
united_states_df=gender_df[gender_df.Country=='United_states']

In [91]:
canada_df.groupby('day')['Revenue'].sum()

day
1.0      808.0
2.0      888.0
3.0     2709.0
4.0      278.0
5.0      523.0
6.0     1529.0
7.0      705.0
8.0      175.0
9.0     1286.0
10.0    1909.0
11.0    1726.0
12.0     339.0
13.0    3187.0
14.0    2768.0
15.0     942.0
16.0     713.0
17.0    1702.0
19.0    2026.0
20.0      22.0
21.0     243.0
22.0      68.0
23.0     629.0
24.0    4293.0
25.0    1115.0
26.0    2707.0
27.0     264.0
28.0    1857.0
29.0     757.0
30.0    1263.0
31.0    1338.0
Name: Revenue, dtype: float64

In [93]:
bike_df

,Date,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,year,month,day,weekday
0,2013-11-26,19.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0,2013.0,11.0,26.0,1.0
1,2015-11-26,19.0,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8.0,45.0,120.0,590.0,360.0,950.0,2015.0,11.0,26.0,3.0
2,2014-03-23,49.0,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23.0,45.0,120.0,1366.0,1035.0,2401.0,2014.0,3.0,23.0,6.0
3,2016-03-23,49.0,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20.0,45.0,120.0,1188.0,900.0,2088.0,2016.0,3.0,23.0,2.0
4,2014-05-15,47.0,F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4.0,45.0,120.0,238.0,180.0,418.0,2014.0,5.0,15.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108369,2016-03-04,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,15.0,1.0,2.0,10.0,15.0,25.0,2016.0,3.0,4.0,4.0
108370,2014-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,13.0,1.0,2.0,8.0,13.0,21.0,2014.0,4.0,27.0,6.0
108371,2014-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,5.0,1.0,2.0,3.0,5.0,8.0,2014.0,4.0,27.0,6.0
108372,2016-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,15.0,1.0,2.0,10.0,15.0,25.0,2016.0,4.0,27.0,2.0
108373,2016-04-27,37.0,F,France,Seine (Paris),Accessories,Tires and Tubes,Patch Kit/8 Patches,5.0,1.0,2.0,3.0,5.0,8.0,2016.0,4.0,27.0,2.0